<div class="checkoutReturnContainer"></div>

<mat-card>
  <mat-card-header>
    <mat-card-title>Equipment Return</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Device condition is ranked out of 10. Below you will see what the device’s
      condition was prior to checkout. Please scan over the device, noting any
      damage, and rank the devices new condition out of ten. A rank of ten would
      be equivalent to brand new and a rank of 1 would be broken and in need of
      repair. Your rank of the new condition should not be higher than the
      previous condition as the person that checked out the equipment likely has
      not done any repairs.
    </p>
  </mat-card-content>
</mat-card>
